<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>testpenon</title>



    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>testpenon</title>
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap" rel="stylesheet">
    </head>

<body>
    <style>
        body {
            width: 1465px;
            height: 706px;
            max-height: 900px;
        }

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Cinzel';
        }

        html {
            height: 100%;
        }

        .user-img {
            width: 50px;
        }

        .sidebar {
            position: absolute;
            top: 0;
            left: 0;
            min-height: 120vh;
            width: 80px;
            /*width: 250px;*/
            background-color: #013220;
            padding: .4rem .8rem;
            transition: all 0.5s ease;
            border-right: 1px solid #996515;
        }

        .sidebar.active~.main-content,
        .sidebar.active~.image-container,
        .sidebar.active~.top-content,
        .sidebar.active~footer,
        .sidebar.active~.footer-bottom,
        .sidebar.active~.RoomType-Cont,
        .sidebar.active~.Room-Type-Info,
        .sidebar.active~.facilities-info,
        .sidebar.active~.main-page {
            left: 250px;
            /* Move both .main-content and .top-content to the right */
            width: calc(100% - 250px);
            /* Reduce their width when the sidebar expands */
        }

        .sidebar.active {
            width: 250px;
        }

        .sidebar #btn {
            position: absolute;
            color: #f5f5f5;
            top: .4rem;
            left: 50%;
            font-size: 1.2rem;
            line-height: 50px;
            transform: translateX(-50%);
            cursor: pointer;
        }

        .sidebar.active #btn {
            left: 90%;
        }

        .sidebar .top .logo {
            color: #f5f5f5;
            display: flex;
            height: 50px;
            width: 100%;
            align-items: center;
            pointer-events: none;
            opacity: 0;
        }

        .sidebar.active .top .logo {
            opacity: 1;
        }

        .top .logo i {
            font-size: 2rem;
            margin-right: 5px;
        }

        .user {
            display: flex;
            align-items: center;
            margin: 1rem 0;

        }

        .user p {
            color: #996515;
            opacity: 1;
        }

        .sidebar p {
            opacity: 0;
        }

        .sidebar.active p {
            opacity: 1;
        }

        .sidebar ul li {
            position: relative;
            list-style-type: none;
            height: 50px;
            width: 90%;
            margin: 0.8rem auto;
            line-height: 50px;
        }

        .sidebar ul li a {
            color: #996515;
            display: flex;
            align-items: center;
            text-decoration: none;
            border-radius: 0.8rem;
        }

        .sidebar ul li a:hover {
            background-color: #f5f5f5;
            color: black;
        }

        .sidebar ul li a i {
            min-width: 50px;
            text-align: center;
            height: 50px;
            border-radius: 12px;
            line-height: 50px;
        }

        .sidebar .nav-item {
            opacity: 0;
        }

        .sidebar.active .nav-item {
            opacity: 1;
        }

        .sidebar ul li .tool {
            position: absolute;
            left: 10px;
            /* ขยับออกจากเมนูมากขึ้น */
            top: 50%;
            transform: translateY(-50%);
            /* ลบการขยับทางแกน X เพื่อให้กล่องเลื่อนเฉพาะด้าน Y */
            box-shadow: 0 0.5rem 0.8rem rgba(0, 0, 0, 0.2);
            border-radius: .6rem;
            padding: .4rem 1.2rem;
            line-height: 1.8rem;
            z-index: 40;
            opacity: 0;
            transition: opacity 0.6s ease, left 0.3s ease;
            /* เพิ่ม transition ให้ดูนุ่มนวล */
        }

        .sidebar ul li:hover .tool {
            opacity: 1;
            left: 70px;
            /* ระยะห่างเมื่อ hover เพิ่มมากขึ้น */
        }

        .sidebar.active ul li .tool {
            display: none;
        }

        .top-content {
            position: relative;
            background-color: #f5f5f5;
            min-height: 80px;
            top: 0;
            left: 80px;
            transition: all 0.5s ease;
            width: calc(100% - 80px);
            padding: 1.5rem;
            border-bottom: 1px solid #996515;
            flex: 0 0 auto;
        }

        .top-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .top-container .logo {
            width: 90px;
        }

        .top-content .top-container .mini-text-container p {
            color: #996515;
        }
        .top-btn {
            position: relative;
            transition: all 0.4s ease;
            padding: 8px 12px; /* ปรับขนาดของปุ่ม */
            font-size: 1rem; /* ขนาดตัวอักษรในปุ่ม */
            width: 150px;
            border-radius: 4px; /* มุมโค้งของปุ่ม */
            background-color: #013220; /* สีพื้นหลังของปุ่ม */
            color: #fff; /* สีตัวอักษร */
            border: none; /* ลบเส้นขอบ */
            cursor: pointer; /* เปลี่ยนเคอร์เซอร์เป็นรูปมือเมื่อชี้ไปที่ปุ่ม */
            transition: background-color 0.5s ease; /* เพิ่มเอฟเฟกต์การเปลี่ยนสีพื้นหลังเมื่อ hover */
            text-align: center;
        }

        .top-btn:hover {
            transform: scale(1.1);
            color: #f5f5f5;
            background-color: #996515;
            box-shadow: 0 12px 25px rgba(80, 80, 80, 0.5);
            /* เปลี่ยนสีพื้นหลังเมื่อ hover */
            
        }


        .container {
            display: flex;
            margin-top: -22px;
            margin-left: -20px;
            justify-content: space-between;
            background-color: #013220;
        }

        li:not(:nth-child(1)) {
            position: relative;

        }

        .container-1 {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: Arial, sans-serif;
            background-color: #ffffff;
            color: #333;
            display: grid;
            justify-content: center;
            align-items: center;
            font-family: monospace;
        }

        ul.ulBox{
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #333;
        }

        li.ulText {
            float: left;
        }

        li.ulText a {
            display: block;
            color: white;
            text-align: center;
            padding: 30px 30px;
            text-decoration: none;
            font-size: 1.2rem;
        }

        li.ulText a:hover {
            background-color: #6f6d6d;
        }

        li.ulText:nth-of-type(1) a:hover{
            background-color: red;
        }

        li.ulText:nth-of-type(5) a{
            background-color: aquamarine;
        }

        li.ulText a.ulText {
            display: block;
            color: rgb(255, 255, 255);
            text-align: center;
            padding: 30px 30px;
            text-decoration: none;
            font-size: 1.2rem;
        }

        li.ulText a:hover {
            background-color: #008d1f;
        }

        .main-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: 50px 0px 0px 0px;
            position: relative;
            top: 0;
            left: 80px;
            transition: all 0.5s ease;
            width: calc(100% - 80px);
        }

        p.text-first {
            font-size: 30px;
            margin-right: -125px;
        }

        .fade {
            animation-name: fade;
            animation-duration: 2s;
        }

        @keyframes fade {
            from {
                opacity: 4
            }

            to {
                opacity: 1
            }
        }

        @media only screen {
            .text {
                font-size: 11px
            }
        }

        .slideshow {
            display: flex;
            justify-content: center;
            /* margin-left: 450px; */
            width: 500px;
            height: 400px;
            align-items: center;
            /* border: solid #e99f30 5px; */
            border-radius: 4px;
        }

        .main-page {
            display: flex;
            flex-direction: column;
            justify-content: center;
            position: relative;
            top: 0;
            left: 20px;
            transition: all 0.5s ease;
            width: calc(100% - 80px);
        }

        .mini-content {
            display: flex;
            /* border: solid cadetblue; */
            margin: 50px 50px 10px 50px;
        }

        .cardF {
            display: flex;
            justify-content: space-around;
            /* border: solid rgb(0, 0, 0); */
            border-radius: 4px;
            background-color: rgb(245, 245, 245);
            transition-duration: 0.1s;
            position: relative;
            top: 0;
            left: 80px;
            /* transition: all 0.5s ease; */
            width: calc(100% - 80px);
        }

        .cardF:hover {
            /* border: solid #e99f30 5px ; */
            background-color: #fff;
            color: #e99f30;
            border-radius: 4px;
        }

        .info {
            margin: 20px;
            padding: 0px 100px 0px 150px;
            transition-duration: 0.6s;
        }

        /* .info:hover{
            border: solid #e99f30 5px;
            background-color: black;
            color: #e99f30; 
            border-radius: 25px;
        } */

        .price {
            font-size: 25px;
            font-family: cursive;
            margin-top: 30px;
            font-weight: bold;
        }

        .describe-studio {
            font-size: 20px;
            font-family: cursive;
        }

        .advantage {
            font-size: 20px;
            font-family: cursive;
            margin-top: 20px;
        }

        .desc-std {
            margin-left: 20px
        }

        .img-slide img {
            border-radius: 4px;
        }

        .top-bar {
            margin: 0;                        
            padding: 0;                       
            box-sizing: border-box;            
            font-family: Arial, sans-serif;    
            color: #333;                       
            display: grid;                     
            justify-content: center;           
            align-items: center;     
            font-family: monospace;                 
        }

    </style>
    <!----------------------------------------------------------->
    <div class="sidebar">
        <div class="top">
            <div class="logo">
                <i class="bx bxl-codepen"></i>
                <span>KabApartment</span>
            </div>
            <i class="bx bx-menu" id="btn"></i>
        </div>
        <div class="user">

        </div>
        <ul>
            <li>
                <a href="/">
                    <i class="bx bxs-info-square"></i>
                    <span class="nav-item">INFORMATION</span>
                </a>
                <span class="tool">INFORMATION</span>
            </li>
            <li>
                <a href="/available">
                    <i class="bx bxs-door-open"></i>
                    <span class="nav-item">ROOMTYPE</span>
                </a>
                <span class="tool">ROOMTYPE</span>
            </li>
            <li>
                <a href="/available/A-type">
                    <i class='bx bxs-door-open'></i>
                    <span class="nav-item">STUDIO</span>
                </a>
                <span class="tool">STUDIO</span>
            </li>
            <li>
                <a href="/available/B-type">
                    <i class='bx bxs-door-open'></i>
                    <span class="nav-item">LOFT</span>
                </a>
                <span class="tool">LOFT</span>
            </li>
            <li>
                <a href="/available/C-type">
                    <i class='bx bxs-door-open'></i>
                    <span class="nav-item">PENTHOUSE</span>
                </a>
                <span class="tool">PENTHOUSE</span>
            </li>
            <li>
                <a href="/profile">
                    <i class='bx bxs-user'></i>
                    <span class="nav-item">PROFILE</span>
                </a>
                <span class="tool">PROFILE</span>
            </li>
        </ul>
    </div>
    <div class="top-content">
        <div class="top-container">
            <div class="mini-text-container">
                <p class="text-first">loft-room</p>
            </div>
            <div class="logo">
                <img src="/images/icon/KAAAAB.png" class="logo">
            </div>
            <div class="top-login">
                <% if (!user) {%>
                    <!------CSS----->
                    <style>

                    </style>
                    <!----------JS-->
                    <button class="top-btn" onclick="goLogin()">Login</button>
                    <script>function goLogin() { window.location.href = "/login"; }</script>
                    <% }else { %>
                        <!------CSS----->
                        <style>

                        </style>
                        <!-------JS----->
                        <button class="top-btn" onclick="goLogout()">Logout</button>
                        <script>function goLogout() { window.location.href = "/logout"; }</script>
                        <% } %>
            </div>
        </div>
    </div>
    <div class="main-content">
        <div class="top-bar">
        <div class="btnnextpage">
            <ul class="ulBox">
                <!-- <li class="ulText"><a href="http://localhost:3000/available" class="ulText">Back</a></li>
                <li class="ulText"><a href="http://localhost:3000/available/A-type"class="ulText">Studio-Type</a></li>
                <li class="ulText"><a href="http://localhost:3000/available/B-type" class="ulText">Loft-Type</a></li>
                <li class="ulText"><a href="http://localhost:3000/available/C-type" class="ulText">Penthouse-Type</a></li> -->
            </ul>
        </div>
        </div>
            <div class="main-page">
                <div class="cardF">
                    <div class="slideshow">
                        <div class="slideshow-container">
                            <div class="img-slide">
                                <div class="mySlides fade">
                                    <img src="/images/admin/Studioroom/Studio room 1.png" width="320px" height="320px">
                                </div>

                                <div class="mySlides fade">
                                    <img src="/images/admin/Studioroom/Studio room 2.png" width="320px" height="320px">
                                </div>

                                <div class="mySlides fade">
                                    <img src="/images/admin/Studioroom/Studio room 3.png" width="320px" height="320px">
                                </div>

                                <div class="mySlides fade">
                                    <img src="/images/admin/Studioroom/Studio room 4.png" width="320px" height="320px">
                                </div>

                                <div class="mySlides fade">
                                    <img src="/images/admin/Studioroom/toilet 1.png" width="320px" height="320px">
                                </div>

                                <div class="mySlides fade">
                                    <img src="/images/admin/Studioroom/toilet 2.png" width="320px" height="320px">
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>

                    <div style="text-align:center">
                        <span class="dot"></span>
                        <span class="dot"></span>
                        <span class="dot"></span>
                        <span class="dot"></span>
                        <span class="dot"></span>
                        <span class="dot"></span>
                    </div>

                    <script>
                        let slideIndex = 0;
                        showSlides();

                        function showSlides() {
                            let i;
                            let slides = document.getElementsByClassName("mySlides");
                            let dots = document.getElementsByClassName("dot");
                            for (i = 0; i < slides.length; i++) {
                                slides[i].style.display = "none";
                            }
                            slideIndex++;
                            if (slideIndex > slides.length) { slideIndex = 1 }
                            for (i = 0; i < dots.length; i++) {
                                dots[i].className = dots[i].className.replace(" active", "");
                            }
                            slides[slideIndex - 1].style.display = "block";
                            dots[slideIndex - 1].className += " active";
                            setTimeout(showSlides, 4000); // Change image every 2 seconds
                        }
                    </script>

                    <div class="info">
                        <h1>loft-type</h1>
                        <div class="describe-studio">
                            <p>this is a loft-type is about 40 square meters in size</p>
                            <ul class="desc-std">
                                <li>
                                    <p>2 bathrooms</p>
                                </li>
                                <li>
                                    <p>2 bedrooms</p>
                                </li>
                            </ul>
                        </div>
                        <div class="advantage">
                            <h2>advantage:</h2>
                            <p>creates a sense of spaciousness even in limited space</p>
                            <p>with high ceilings a sense of openness even when the actual floor area is limited.</p>
                            <!-- <p>Everything is in one space, making it easy to access and eliminating unnecessary areas.</p> -->
                        </div>
                        <div class="price">
                            <p>the Price</p>
                            <p>10,000,000 Bath</p>
                        </div>
                    </div>
                </div>

                <div class="mini-content">
                    <div class="container-1">
                        <div id="room"></div>
                    </div>


                    <!-- <div class="btnnextpage">
                        <ul class="ulBox">
                            <li class="ulText"><a href="http://localhost:3000/available" class="ulText">Back</a></li>
                            <li class="ulText"><a href="http://localhost:3000/available/A-type"
                                    class="ulText">Studio-Type</a></li>
                            <li class="ulText"><a href="http://localhost:3000/available/B-type" class="ulText">Loft-Type</a>
                            </li>
                            <li class="ulText"><a href="http://localhost:3000/available/C-type"
                                    class="ulText">Penthouse-Type</a></li>
                        </ul>
                    </div> -->
                </div>
                <!-- <div class="btnnextpage">
                    <ul class="ulBox">
                        <li class="ulText"><a href="http://localhost:3000/available" class="ulText">Back</a></li>
                        <li class="ulText"><a href="http://localhost:3000/available/A-type"class="ulText">Studio-Type</a></li>
                        <li class="ulText"><a href="http://localhost:3000/available/B-type" class="ulText">Loft-Type</a></li>
                        <li class="ulText"><a href="http://localhost:3000/available/C-type" class="ulText">Penthouse-Type</a></li>
                    </ul>
                </div> -->
            </div>
    </div>
</body>

<script>
    let btn = document.querySelector('#btn');
    let sidebar = document.querySelector('.sidebar');

    btn.onclick = function () {
        sidebar.classList.toggle('active');
    };
    /*---------------------------*/

</script>

<style>
    .square {
        flex: 1 1 15%;
        max-width: 200px;
        height: 200px;
        background-color: gray;
        text-align: center;
        font-size: 16px;
        font-weight: 800;

    }

    .image-square {
        width: 200px;
        height: 150px;
        object-fit: cover;

    }

    #room {
            display: flex;
            flex-wrap: wrap;
            gap: 25px;
        }
</style>

<script type="module">
    import roomClass from '../javascripts/class/roomClass.js';
    import imgClass from '../javascripts/class/imageRoomClass.js';

    document.addEventListener("DOMContentLoaded", () => { showRoom(); });

    async function showRoom() {
        const objIMG = new imgClass();
        const imgRoomB = await objIMG.getImgB();  // ดึงข้อมูลภาพประเภท A

        const objRoom = new roomClass();
        const roomno = await objRoom.getRoomNo();
        const status = await objRoom.getRoomStatus();
        const type = await objRoom.getRoomType();
        const size = await objRoom.getRoomCount();

        let out = document.getElementById('room');
        if (out) {
            out.innerHTML = "";

            for (let i = 0; i < size; i++) {
                // ตรวจสอบประเภทห้องและสถานะ
                if (type[i] === 'B' && status[i] === 0) {
                    //main
                    let square = document.createElement('div');
                    square.className = 'square';

                    // img
                    let image = document.createElement('img');
                    image.src = imgRoomB ? imgRoomB.src : "https://i.pinimg.com/564x/8d/ff/fe/8dfffec41dffecf58efcb955f967a6f1.jpg"; // ใช้ภาพจาก API ถ้ามี หรือใช้ภาพ default
                    image.alt = "RoomB";
                    image.className = 'image-square';

                    // divText
                    let text = document.createElement('p');
                    text.innerHTML = type[i] + " " + roomno[i];

                    // set
                    square.setAttribute('data-room-id', roomno[i]);

                    // functional
                    square.style.backgroundColor = status[i] === 1 ? "red" : "yellowgreen";

                    square.addEventListener("click", () => {
                        window.location.href = `/Book/${roomno[i]}?type=${type[i]}`;
                    });

                    square.appendChild(image);
                    square.appendChild(text);
                    out.appendChild(square);
                }
            }
        }
    }
</script>

</html>