<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Status</title>
    <link rel="stylesheet" href="stylesheets/status.css">
</head>
<body>
    <div class="navbar">
        <button id="scrollButton" onclick="">Scroll Right</button>
        <h1>logo</h1>
        <h1>logout</h1>
    </div>
    <div class="content-box" id="content">
        <div class="logomenu">
            <img src="https://img.freepik.com/premium-vector/negative-space-dragon-illustration-modern-gradient-dragon-circle-logo-vector-icon_23758-687.jpg?w=740" alt="">
        </div>
        <div id="time"></div>
        <div class="linkroom">
            <a href="/" id="home">หน้าแรก</a>
            <a href="/status/booking" id="books">การจอง</a>
            <a href="#" id="information">สารสนเทศ</a>
        </div>
        
    </div>
    <div class="container">
        <div id="output"></div>
        <div class="circle-btn" id="circle-output"></div>
    </div>

    <script src="javascripts/status.js"></script>
</body>
</html>